body {
    font-family: 'Orbitron', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

button {
    padding: 10px 10px;
    border-radius: 5px;
    border: 3px solid #000;
    font-size: 1em;
    font-weight: bolder;
    margin: 5px;
    cursor: pointer;
}

#protocol-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.protocol-card {
    font-family: 'Orbitron', sans-serif;
    border: 5px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin-bottom: 3px;
    min-height: 33%;
    max-height: 33%;
    overflow: hidden;
    padding: 10px;
    font-size: 1em;
    background: #f9f9f9;
}